{% from 'AppBundle::pagination.html.twig' import pagination %}

{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ 'challenge.list.header'|trans }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">{{ 'challenge.list.header'|trans }}</h3>
                    <a href="{{ path('admin_challenge_add') }}" class="btn btn-sm btn-primary pull-right">
                        <i class="fa fa-plus"></i> {{ 'challenge.list.add_button'|trans }}
                    </a>
                    <div class="col-md-3 pull-right">
                        <form method="get">
                            <div class="form-group input-group">
                                <input name="q" type="text" class="form-control" value="{{ app.request.get('q') }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{{ resources_bundle_sort('name', 'challenge.name'|trans) }}</th>
                                <th>{{ resources_bundle_sort('correctAnswer', 'challenge.correctAnswer'|trans) }}</th>
                                <th>{{ resources_bundle_sort('description', 'challenge.description'|trans) }}</th>
                                <th>Zdjęcie</th>
                                <th>{{ resources_bundle_sort('createdAt', 'challenge.createdAt'|trans) }}</th>
                                <th class="text-right">{{ 'actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if paginator|length == 0 %}
                                <tr>
                                    <td class="text-center" colspan="6">
                                        {% if app.request.get('q') %}
                                            {{ 'challenge.list.search.not.found'|trans }}
                                        {% else %}
                                            {{ 'challenge.list.not.found'|trans }}
                                            <a href="{{ path('admin_challenge_add') }}"
                                               class="font-bold">{{ 'challenge.list.add_button'|trans }} &raquo;</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {# challenge \AppBundle\Entity\\AppBundle\Entity\Challenge #}
                            {% for challenge in paginator %}
                                <tr>
                                    <td>
                                        {{ challenge.name }}
                                    </td>
                                    <td>
                                        {{ challenge.correctAnswer }}
                                    </td>
                                    <td>
                                        {{ challenge.description }}
                                    </td>
                                    <td>
                                        <img src="{{ challenge.image.imagePath|imagine_filter('list') }}"/>
                                    </td>
                                    <td>
                                        {{ challenge.createdAt|date }}
                                    </td>
                                    <td class="text-right">
                                        <a href="{{ path('admin_challenge_delete', {'id': challenge.id}) }}"
                                           class="btn btn-xs btn-danger">
                                            <i class="fa fa-times"></i> {{ 'remove'|trans }}
                                        </a>
                                        <a href="{{ path('admin_challenge_edit', {'id': challenge.id}) }}"
                                           class="btn btn-xs btn-primary">
                                            <i class="fa fa-times"></i> {{ 'edit'|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{ pagination(paginator) }}
        </div>
    </div>
{% endblock %}
