<!DOCTYPE html>
<html lang="pl">

<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/sb-admin.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('assets/libs/font-awesome-4.5.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_user_index') }}">{{ 'admin.main.name'|trans }}</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.email }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> {{ 'logout'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('nelmio_api_doc_index') }}" target="_blank"><i class="fa fa-fw fa-book"></i> {{ 'documentation.api'|trans }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="{% if app.request.get('_route') in ['admin_users_index'] %}active {% endif %}">
                    <a href="{{ path('admin_user_index') }}"><i class="fa fa-users"></i> {{ 'user.list.header'|trans }}
                    </a>
                </li>
                <li class="{% if app.request.get('_route') in ['admin_challenge_index'] %}active {% endif %}">
                    <a href="{{ path('admin_challenge_index') }}"><i
                                class="fa fa-lock"></i> {{ 'challenge.list.header'|trans }}
                    </a>
                </li>
                <li class="{% if app.request.get('_route') in ['admin_answer_index'] %}active {% endif %}">
                    <a href="{{ path('admin_answer_index') }}"><i
                                class="fa fa-unlock"></i> {{ 'answer.list.header'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ asset('assets/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}

</body>

</html>
