<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OCR Benchmark</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>{{ 'result.list.header'|trans }}</title>

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/creative.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/libs/font-awesome-4.5.0/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">OCR Benchmark</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">o projekcie</a>
                </li>
                <li>
                    <a class="page-scroll" href="#results">Wyniki</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Autorzy</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_login') }}" target="_blank">
                        login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">OCR Benchmark</h1>
            <hr>
            <p>Test wydajności telefonów</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">o projekcie</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O teście</h2>
                <hr class="light">
                <p class="text-faded">
                    Test polega na rozwiązywaniu zadania, którym jest odczytanie tekstu z pliku graficznego.
                </p>
                <a href="#results" class="page-scroll btn btn-default btn-xl sr-button">Wyniki</a>
            </div>
        </div>
    </div>
</section>

<section id="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wyniki pomiarów</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div id="charts" class="row"></div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        {#<div class="call-to-action">#}
        {#<h2>Sprawdź swój telefon</h2>#}
        {#<a href="#" class="btn btn-default btn-xl sr-button">#}
        {#Pobierz teraz!#}
        {#</a>#}
        {#</div>#}
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Autorzy</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-apple fa-3x sr-contact"></i>
                <p>Kacper Mazurkiewicz</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-android fa-3x sr-contact"></i>
                <p>Mirosław Czechorowski</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-html5 fa-3x sr-contact"></i>
                <p>Grzegorz Waszkowiak</p>
            </div>
        </div>
    </div>
</section>

<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/scrollreveal.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/js/creative.min.js') }}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    var charts = {
        chartsParentDivId: "charts",
        resultsUrl: "http://" + window.location.host + "/api/v1/results",
        init: function () {
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(charts.drawCharts);
        },
        drawCharts: function () {
            $.ajax({
                type: "GET",
                url: charts.resultsUrl,
                success: function (data, status, xhr) {
                    if (xhr.status == 200) {
                        data.challengesResults.forEach(charts.drawChart);
                    }
                },
                error: function () {
                    alert('Unable to get charts data.');
                }
            });
        },
        drawChart: function (result) {
            var divId = result.challenge.id;
            charts.appendChartDiv(divId, charts.chartsParentDivId);
            charts.appendChallengeDiv(result.challenge, charts.chartsParentDivId);

            var data = new google.visualization.DataTable();

            var rows = [];
            result.devicesResults.forEach(function (deviceResults) {
                rows.push([
                    deviceResults.device.deviceBrand + ' ' + deviceResults.device.deviceModel,
                    parseFloat(deviceResults.result.average)
                ]);
            });

            data.addColumn('string', 'Urządzenie');
            data.addColumn('number', 'Średni czas [s]');
            data.addRows(rows);


            var options = {
                title: result.challenge.name,
                titleTextStyle: {
                    fontSize: 30
                },
                colors: ['#F05F40'],
                hAxis: {
                    title: 'Model urządzenia'
                },
                vAxis: {
                    title: 'Średni czas [s]'
                },
                height: 600,
                animation: {
                    duration: 3000,
                    easing: 'out',
                    startup: true
                }
            };

            console.log(rows);
            console.log(data);


//            var chart = new google.visualization.ColumnChart(document.getElementById(divId));
            var chart = new google.visualization.BarChart(document.getElementById(divId));
            chart.draw(data, options);
        },
        appendChartDiv: function (newId, parentId) {
            var parent = document.getElementById(parentId);
            var child = document.createElement('div');
            child.id = newId;
            child.className = 'col-md-8 chart';

            parent.appendChild(child);
        },
        appendChallengeDiv: function (challenge, parentId) {
            var parent = document.getElementById(parentId);

            var div = document.createElement('div');
            div.className = 'col-md-4 challenge-image-wrapper';
            parent.appendChild(div);

            var img = document.createElement('img');
            img.setAttribute('src', challenge.image.url);
            img.className = 'challenge-image';
            div.appendChild(img);
        }
    };

    charts.init();
</script>

</body>

</html>
